body{

  margin:0;
  font-family:Arial;
  border:border-box;
  /* usually hum kisi element ko height or width dete h and then border denge toh vo usually us element ke bhar wale area me set hota h,but we want ki
  jitni bhi hmne height and width di h usi ke andr border area count ho,if padding padha di toh content area ke andr hi include hona chiye
  this is the good practice */
}

.navbar{
  height:75px;
  background-color: #000000;
  color:white;
  width:100%;
  justify-content: space-evenly;/*right or left se evenly distribute kr diya and ab aage jaise jaise nye division nav bar me add honge ye apne ap left shift hote chle jaynege*/
  display:flex;/*is div ke sare elements ek line me aa jayenge*/
  /* align-items: center; */

}

/* first box*/
.nav_logo{
  height:62px;
  width:130px;
display:flex;

}
.logo{
    background-image: images("amazon_logo.png");
      background-size:contain;
  height:70px;
  width:100%;
}
.nav_logo:hover{
  background-color: #000000;
  border: 1px solid white;
}
/* box 2 */
.nav_address{
  height:75px;
  width: 110px;
}
.nav_address:hover{
  border:1px solid white;
}
.add1{
font-size: 0.9rem;
color: #cccccc;
margin-left: 20px;

}

.add2{
margin-left: 15px;
margin-top: 3px;
  align-items: center;/*use to align the items in the centre*/
}
.add-icon{

display:flex;
margin-left: 5px;
}

/* third search box */

.nav_search{
margin-top: 15px;
height: 50px;
  display: flex;
  align-items: center;
  width:646px;
border-radius: 4px;


}
.nav_search:hover{
    border: 2px solid orange;
}
.search-select{
    height:55px;
    border:none;/*select ka jo by default border h vo automatic hat jayega*/
    background-color: grey;
    text-align: center;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;

};
.search-select:hover{
  border: 1px solid black;
  background-color: #D8D8D8;

}
.search-bar{
  height:53px;
  width:553px;
border:none;
font-size: 1rem;
}
.search-bar:hover{
  border: 1px solid black;
}
.search-icon{
  background-color: #E7B10A;
   font-size: 1.5rem;
  width: 45px;
  height:54px;
  border:none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display:flex;
  justify-content:center;/*right left se center*/
  align-items: center;/*upr neeche se center me aajayega*/
  color: black;
}
.search-icon:hover{
  border: 1px solid black;
  background-color: cyan;
}
/* country choose box */
.nav-country{
  display:flex;
  align-items: center;
  height:70px;
}
.nav-country:hover{
  border: 1px solid white;
}
.country-icon{
  height:50px;
  width:45px;
}
.choose-name{
  height:50px;
  width:50px;
  background-color: black;
  color: white;
  border: none;
}

/* <!--sign in box--> */
.nav-signin:hover{
border:1px solid white;
}
.add_1{
margin-left: 5px;
  font-size: 0.9rem;
}

.select-signin{
  background-color:#000000;
  color: white;
  font-size: 1.2rem;
  border: none;
  font-weight: bold;


}
/* return and orders */
.nav-order:hover{
  border:1px solid white;
}
.address-1{
  font-size: 0.9rem;
}
.address-2{
  margin-top: 0px;
    font-size: 1.2rem;
}

/* 5th box-cart */
.nav-cart{
  display:flex;
align-items: center;
}
.cart-icon{
height:50px;
width:150px;
}
.nav-cart:hover{
  border:1px solid white;
}


/* second nav bar */
.second-nav-bar{
  background-color: #222f3d;
  display:flex;
  align-items: center;
  height: 40px;
  color: white;
  justify-content: space-evenly;
  /* evenly */
}
/* box-1(panel) */
.panel{
  display: flex;
height: 35px;
align-items: center;

}
.panel:hover{
  border: 1px solid white;
}
.panel-icon{
  /* margin-top:10px; */
  font-size: 1.5rem;
  align-items: center;
}
.panel-address{
  margin-left: 5px;
  font-size: 1rem;
}

/* box-2(options) */
.options{
  margin-left: 20px;
  display:flex;
  height: 30px;
  align-items: center;
  width:75%;
}


.sell{
  margin-left: 20px;
}
.sell:hover{
    border: 1px solid white;
}
.best-seller{
  margin-left: 20px;
}
.best-seller:hover{
    border: 1px solid white;
}
.new-release{
  margin-left: 20px;
}
.new-release:hover{
    border: 1px solid white;
}
.mobiles{
  margin-left: 20px;
}
.mobiles:hover{
    border: 1px solid white;
}
.electronics{
  margin-left: 20px;
}
.electronics:hover{
    border: 1px solid white;
}
.address-of-options{
  font-size: 0.9rem;
}

/* box-3 */
.box3{
  display: flex;
  width:200px;
  height: 35px;
  align-items: center;
}
.box3:hover{
    border: 1px solid white;
}
.add{
  /* margin-left: 850px; */
  font-weight: bold;
}



/* hero-section */

 .hero-section{
display:flex;
justify-content: space-evenly;
align-items: center;
}
.content{
  height:350px;
background-size:cover;
  width:100%;
}
/*
.add-link{
  background-color: white;
  height:40px;
position:relative;
margin-left: 20px;
}
.add1{
  color: black;
margin-left: 20px;
padding-bottom: 300px; */



/* shopping list items */

 .box-icon{

  height: 300px;
margin-top:1rem;
  margin-bottom: 1rem;
  background-size: cover;


}

.see-more{
  color: #007185;

}

.shopping-items{
  display: flex;
  flex-wrap: wrap;/*4 box ko upr or 4 box ko neeche krdega,evenly devide or wrap the page*/
  justify-content: space-evenly;
  background-color:#c2e7e6;
}
.box{
  height:400px;
  width:23.5%;

  background-color: white;
  padding: 20px 0px 15px;
  margin-top:15px;
}
.box-content{
  margin-left: 10px;
    margin-right: 10px;
}

/* footer */

footer{
  margin-top: 15px;
}
.footer-1{
  background-color: #374758;
  color: white;
  height:50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.85rem;
}
.footer-1:hover{
  background-color: #181D31;
}
.footer-2{
  background-color: #222f3d;
  color: white;
  height:500px;
  display: flex;
  justify-content: space-evenly;
};

ul{
  margin-top: 20px;
  color: white;

}
ul p{
  font-weight: bold;
}


ul a{
  display: block;
  font-size: 0.85rem;
  margin:10px;
  color:  #dddddd;
}
ul a:hover{
  text-decoration: underline;
}
/* footer-3 */
.footer-3{
  background-color:#222f3d;
  color:white;
  border-top:0.5px solid white;
  height:70px;
  display: flex;
justify-content:space-evenly;
align-items:center;

}

.logo{
    background-image: url("amazon_logo.png");
      background-size:cover;
  height:70px;
  width:100%;
  text-align: center;
}

.footer-4{
  background-color:#0f1111;
  color:white;
  height:80px;

justify-content:space-evenly;
align-items:center;

}
.pages{
  font-size: 0.7rem;
  text-align: center;
  padding-top:10px;
}
.copyright{
  padding-top:5px;
  font-size: 0.7rem;
  text-align: center;

}
.pages a{
  margin-left: 15px;
}
.pages a:hover{
  text-decoration: underline;
}
